fastapi==0.114.2
uvicorn[standard]==0.30.6
SQLAlchemy==2.0.35
psycopg[binary]==3.2.1
python-dotenv==1.0.1
cryptography==46.0.1
python-multipart
transformers
torch
datasets
evaluate
email-validator==2.2.0
passlib[bcrypt]==1.7.4
kagglehub[pandas-datasets]